<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: htmlhead"></head>

    <body>

        <div class="container">
			<nav th:replace="layout :: menu">(menu)</nav>
            <form th:action="@{/paciente/(form)}" th:object="${paciente}" method="post">
                <div class="form-group">
                    <label for="txtnome">Nome</label>
                    <input type="text" th:field="*{nome}" class="form-control" 
                    id="txtnome" placeholder="Nome">
                </div>


                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>  